@import "normalize.css";
@import "reset.css";
@import "lists.css";
#borderLineAtBottom {
  border: none;
  border-bottom: 0.06rem solid #1a1a1a;
  border-color: #1a1a1a;
  padding-bottom: 0.24em;
  margin-bottom: 0.38em;
}
hr {
  border: none;
  border-bottom: 0.06rem solid #1a1a1a;
  border-color: #1a1a1a;
  padding-bottom: 0.24em;
  margin-bottom: 0.38em;
}
html {
  color: #1a1a1a;
  background-color: #fdfdfd;
}
body {
  margin: 0 auto;
  padding: 3em;
  max-width: 60em;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
#marginAtEnd {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5em;
}
p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
blockquote {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #606060;
  margin-top: 1em;
  margin-bottom: 1em;
}
header {
  margin-bottom: 1em;
  text-align: left;
}
header h1 {
  border: none;
  border-bottom: 0.06rem solid #1a1a1a;
  border-color: #1a1a1a;
  padding-bottom: 0.24em;
  margin-bottom: 0.38em;
}
header p {
  font-style: italic;
}
#visibleBox {
  padding: 0.38em 0;
  padding-left: 0.62em;
  border-left: 0.15em solid #e6e6e6;
}
#visibleBox p:first-child {
  margin-top: 0;
}
#visibleBox p:last-child {
  margin-bottom: 0;
}
#indented {
  margin-left: 1em;
}
blockquote:not(:has(pre)) {
  padding: 0.38em 0;
  padding-left: 0.62em;
  border-left: 0.15em solid #e6e6e6;
  margin-left: 1em;
  font-style: italic;
}
blockquote:not(:has(pre)) p:first-child {
  margin-top: 0;
}
blockquote:not(:has(pre)) p:last-child {
  margin-bottom: 0;
}
blockquote:has(pre) {
  font-style: normal;
  background-image: linear-gradient(to right, rgba(190, 200, 190, 0.2) 10%, transparent 40%);
  padding: 0.38em 0;
  padding-left: 0.62em;
  border-left: 0.15em solid #e6e6e6;
  margin-left: 1em;
  padding-left: revert;
  border-color: rgba(36, 63, 58, 0.167);
}
blockquote:has(pre) p:first-child {
  margin-top: 0;
}
blockquote:has(pre) p:last-child {
  margin-bottom: 0;
}
code {
  color: #146414;
  font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
  font-size: 82%;
  font-style: normal;
  hyphens: manual;
  margin: 0;
  overflow-wrap: break-word;
  padding-left: 0.2em;
  padding-right: 0.2em;
  letter-spacing: -0.03em;
}
pre.file {
  background-color: rgba(240, 0, 0, 0.2);
  border-radius: 0.2em;
  border-top-right-radius: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
  border: none;
}
/*
Two kinds of pre that we care about: inside a block quote and not inside a blockquote.
    This section is to cover the sytle that is common to both
    */
pre {
  white-space: pre-wrap;
  padding: 0.38em 0;
  border-left: 0.15em solid #e6e6e6;
  padding-left: 0.62em;
  background-color: rgba(36, 63, 58, 0.167);
}
pre p:first-child {
  margin-top: 0;
}
pre p:last-child {
  margin-bottom: 0;
}
pre code {
  color: rgba(14, 90, 90, 0.95);
  letter-spacing: revert;
  padding: revert;
  margin-bottom: 0;
}
blockquote pre {
  padding-left: 0.62em;
  border: revert;
  background-color: revert;
  padding-top: 0;
  padding-bottom: 0;
}
blockquote pre code {
  color: rgba(14, 90, 90, 0.55);
}
pre + blockquote:has(pre) {
  margin-top: 0;
}
